<html>

<head>
    <link rel="stylesheet" type="text/css" href="자판기.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="japangi">
        <!--로그인 모달창-->
        <div class="black-bg" v-if="loginPage == true">
            <div class="white-bg">
                <input type="text" class="idBar" v-model="id">
                <input type="password" class="pwBar" v-model="password">
                <button v-on:click="login()">로그인</button>
                <button v-on:click="mainPageMove()">취소</button>
            </div>
        </div>
        <!--추가 모달창-->
        <div class="black-bg" v-show="updatePage">
            <div class="white-bg">
                <div>
                    <span>음료수명:</span>
                    <input type="text" v-model="drinkName">
                </div>
                <div>
                    <span>가격:</span>
                    <input type="text" v-model="drinkPrice">
                </div>
                <div>
                    <span>수량:</span>
                    <input type="text" v-model="drinkEA">
                </div>
                <button v-on:click="update()">확인</button>
                <button v-on:click="mainPageMove()">취소</button>
            </div>
        </div>
        <div class="top" v-if="loginOk">
            <button v-on:click="logout()">유저모드</button>
        </div>
        <div class="top" v-else>
            <button v-on:click="loginPageMove()">관리자모드</button>
            <span>충전:</span>
            <button v-on:click="deposit()">1000원</button>
            <span>충전금액:</span>
            <input type="text" v-model="wallet">
            <button v-on:click="Changes()">반환금</button>
        </div>
        <div class="mid" v-if="loginOk">
            <ul>
                <li v-if="drinkName">
                    <span>음료수: {{drinkName}} |</span>
                    <span>가격: {{drinkPrice}} |</span>
                    <span>남은 수량: {{drinkEA}} |</span>
                    <button v-on:click="updatePageMove()">수정</button>
                    <button v-on:click="Delete()">삭제</button>
                </li>
                <li v-else>
                    <button class="plusBtn" v-on:click="updatePageMove()">추가</button>
                </li>
            </ul>
        </div>
        <div class="mid" v-else>
            <ul>
                <li v-if="drinkName">
                    <span>음료수: {{drinkName}} |</span>
                    <span>가격: {{drinkPrice}} |</span>
                    <span>남은 수량: {{drinkEA}} |</span>
                    <button v-on:click="buy()">구매</button>
                </li>
            </ul>
        </div>
        <div class="bottom">

        </div>
    </div>

    <script src="자판기2.js"></script>
</body>

</html>