<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="japangi" style="width:450px ; height: 800px; border:1px solid">
        
        <div style="width:60%; height: 99.9%; border:1px solid #000; float: left;">
            <div style="width:49% ; height: 25%; border:1px solid #000; float: left;">
                <h3></h3>
                <input type="text" style="width:100% ; background: #000; color: green; text-align:right">
                <button style="width:49% ; position: relative; top:60%; left: 25%" v-on:click="buyBtn">구매</button>
            </div>
            <div style="width:49% ; height: 25%; border:1px solid #000; display: inline-block">
                <div v-if="loginOk">
                    <button>추가</button>
                    <button>삭제</button>
                </div>
                <div v-else>
                    <button>구매</button>
                </div>
            </div>
            <div style=" width:49% ; height: 25%; border:1px solid #000; float: left;">

            </div>
            <div style=" width:49% ; height: 25%; border:1px solid #000; display: inline-block">
            </div>
            <div style="width:49% ; height: 25%; border:1px solid #000; float: left;">
            </div>
            <div style="width:49% ; height: 25%; border:1px solid #000; display: inline-block">
            </div>
            <div style="width:99% ; height: 24%; border:1px solid #000;"></div>
        </div>
        <div style="width:39% ; height: 99.9%; border:1px solid #000; float: left;">
            <h2>{{title}}</h2>
            <input type="text" style="background: #000; color: red; text-align:right">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <ul>
                <li v-for="(item,index in list":key="item">
                    <span class="number" v-on:click="onclick(item)">{{index + 1}} .</span>{{item}} <!--추천검색어 {{item}} {{item.list}} 차이-->
                </li>
            </ul>
        </div>
        <form v-on:submit.prevent="onSubmit">
            <input type = "text" v-model="id">
            <input type = "text" v-model="password">
        </form>
        <button v-on:click="login">로그인</button>
        <button v-on:click="logout">로그아웃</button>
    </div>
    <script src="자판기.js"></script>
</body>

</html>