<html>

<head>
    <link rel="stylesheet" type="text/css" href="자판기.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="japangi">
        <div class="black-bg" v-if="loginPage == true">
            <div class="white-bg">
                <input type="text" class="idBar" v-model="id">
                <input type="password" class="pwBar" v-model="password">
                <button v-on:click="login()">로그인</button>
                <button v-on:click="mainPageMove()">취소</button>
            </div>
        </div>
        <div class="update-black-bg" v-if="updatePageMove">
            <div class="update-white-bg">
                <div class="update-div">
                    <!-- <span>수량:{{ea}}</span> -->
                    <button class="updateBtn" v-on:click="updatePlus()">+</button>
                    <button class="updateBtn" v-on:click="updatMinus()">-</button>
                </div>
                <div class="update-yesno">
                    <button class="updateBtn" v-on:click="updatePageMove">확인</button>
                    <button class="updateBtn">취소</button>
                </div>
            </div>
        </div>
        <div class="top">
            <button v-on:click="loginPageMove()">관리자모드</button>
        </div>
        <div class="mid">
            <div>
                <ul>
                    <li class="menu" v-for="(item) in menu" :key="item">
                        {{item}}

                        <div v-if="loginOk">
                            <button v-on:click="updatePageMove">추가</button>
                            <button>삭제</button>
                        </div>

                        <div v-else>
                            <button>구매</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bottom"></div>
    </div>

    <script src="자판기.js"></script>
</body>

</html>